*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primario: #8482ff;
    --oscuro: #222222;
    --blanco: #ffffff;
    --gris: #777777;
    --borde: 5px;
}
body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--oscuro);
    color: var(--blanco);
}

.barra-navegacion {
    color: var(--blanco);
    margin: 0 10px;

    a {
     color: var(--blanco);
      margin: 0 10px;
    }
}


.productos {
    padding: 20px;
    text-align: center;

    h2 {
    margin-bottom: 20px;
    }
}


.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.tarjeta {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;

    img {
    width: 100%;
    height: auto;
    border-radius: var(--borde);
    }
}

.btn-ver {
    background-color: var(--primario);
    color: var(--blanco);
    Padding: 10px 20px;
    
}

.beneficios {
    padding: 20px;
    text-align: center;

    h2 {
    margin-bottom: 20px;
    }
}
.contenedor-beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.beneficio {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
}